<div class="tableFixHead border-primary">
    <table>
      <thead>
        <tr>
            <th>ID</th>
            <th>Menu</th>
            <th>Orden</th>
            <th>Cancelado</th>
            <th>Editar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let m of menu">
            
            <td>{{ m.menu_id}}</td>
            <td>{{ m.menu_descrip}}</td>
            <td>{{ m.menu_orden }}</td>
            <td>{{ m.menu_cancelar }}</td>
            <td><button type="button" class="btn btn-primary btn-sm" [routerLink]="['/menu-form',m.menu_id]">Editar</button></td>
          </tr>
      </tbody>
    </table>
  </div>

  

  
