<app-header></app-header>

<div id="main" class="row" style="text-align: center;">
    <div class="3u">&nbsp;</div>
        <div class="6u">
            <section>
                <h2>{{galerias.gal_titulo}}</h2>
                <div class="fotorama"></div>
            </section>

        </div>
    
    <div class="3u">&nbsp;</div>
</div>

<button type="button" class="btn btn-secondary btn-lg" [routerLink]="['/n_galeria']">Regresar</button>

    <app-footer></app-footer>
    <app-copyright></app-copyright>
