<div  class="tablediv">
    <select class="form-control" (change)="cargarConcursoPlazas($event.target.value)">
      <option selected="selected" value="0">-- Seleccione una plaza --</option>
      <option *ngFor="let cp of catplazas" value="{{ cp.catp_id }}">{{cp.catp_descrip}}</option>
     </select>
      <br><br>
   <!--    <button type="button" class="btn btn-success btn-sm" (click)='ExportarExcel();'>Exportar a Excel</button>   -->
      <table  class="table table-bordered table-sm"  fixed-header>
                    <thead>
                      <tr class="table-head" fixed-header >
                        <th class="table-head-font-weight-normal" ><b>ID</b></th>
                        <th class="table-head-font-weight-normal" ><b>Matricula</b></th>
                        <th class="table-head-font-weight-normal" ><b>Nombre</b></th>
                        <th class="table-head-font-weight-normal" ><b>Adscripcion</b></th>
                        <th class="table-head-font-weight-normal" ><b>Categoria</b></th>
                        <th class="table-head-font-weight-normal" ><b>Funcion</b></th>
                        <th class="table-head-font-weight-normal" ><b>Situacion</b></th>
                        <th class="table-head-font-weight-normal" ><b>Permanencia</b></th>
                        <th class="table-head-font-weight-normal" ><b>F. Ingreso</b></th>
                        <th class="table-head-font-weight-normal" ><b>Sueldo</b></th>
                        <th class="table-head-font-weight-normal" ><b>Permisos</b></th>
                        <th class="table-head-font-weight-normal" ><b>Antigüedad</b></th>
                        <th class="table-head-font-weight-normal" ><b>Insaluble</b></th>
                        <th class="table-head-font-weight-normal" ><b>Adscripcion Base</b></th>
                        <th class="table-head-font-weight-normal" ><b>Cat. Base</b></th>
                        <th class="table-head-font-weight-normal" ><b>Funcion Base</b></th>
                        <th class="table-head-font-weight-normal" ><b>Situacion Base</b></th>
                        <th class="table-head-font-weight-normal" ><b>Num. Contacto</b></th>
                        <th class="table-head-font-weight-normal" ><b>Observaciones</b></th>
                        <th class="table-head-font-weight-normal" ><b>Usuario Cancela</b></th>
                        <th class="table-head-font-weight-normal" ><b>Fecha Cancelación</b></th>
                        <th class="table-head-font-weight-normal" ><b>Acciones</b></th>
                      </tr>
                    </thead>
                    <tbody class="table-txt-blue" >
                      <tr *ngFor="let administrativo of this.administrativos">
                        <td style="width: 10%;">{{ administrativo.pad_id }}</td>
                        <td style="width: 10%;">{{ administrativo.pad_mat }}</td>
                        <td style="width: 10%;">{{ administrativo.pad_nombre }}</td>
                        <td style="width: 10%;">{{ administrativo.pad_adscripcion }}</td>
                        <td style="width: 10%;">{{ administrativo.pad_categoria }}</td>
                        <td style="width: 10%;">{{ administrativo.pad_funcion }}</td>
                        <td style="width: 10%;">{{ administrativo.pad_situacion }}</td>
                        <td style="width: 10%;">{{ administrativo.pad_permanencia }}</td>
                        <td style="width: 10%;">{{ administrativo.pad_f_ingreso }}</td>
                        <td style="width: 10%;">{{ administrativo.pad_sueldo }}</td>
                        <td style="width: 10%;">{{ administrativo.pad_permisos }}</td>
                        <td style="width: 10%;">{{ administrativo.pad_f_antig }}</td>
                        <td style="width: 10%;">{{ administrativo.pad_n_insaluble }}</td>
                        <td style="width: 10%;">{{ administrativo.pad_adscrip_base }}</td>
                        <td style="width: 10%;">{{ administrativo.pad_catego_base }}</td>
                        <td style="width: 10%;">{{ administrativo.pad_funcion_base }}</td>
                        <td style="width: 10%;">{{ administrativo.pad_situacion_base }}</td>
                        <td style="width: 10%;">{{ administrativo.pad_num_contacto }}</td>
                        <td style="width: 10%;">{{ administrativo.pad_observaciones }}</td>
                        <td style="width: 10%;">{{ administrativo.pad_user_cancela }}</td>
                        <td style="width: 15%;">{{ administrativo.pad_fecha_cancelacion }}</td>
                        <td>
                        <!--   <button type="button" class="btn btn-danger btn-sm" (click)='reporte(administrativo.pad_id);'>Reimpresión</button> -->
                          <button type="button" class="btn btn-success btn-sm" (click)='CancelarSol(administrativo);'>Restablecer Solicitud</button>                  
                        </td>
                      </tr>
                    </tbody>
            </table>
  </div>
  
