<section id="home" class="main-banner parallaxie" style="background: url('assets/images/header.jpg') center 0px / cover no-repeat fixed">
    <div class="heading">
        <h1></h1>			
        <h3 class="cd-headline clip is-full-width">
        </h3>
    </div>
</section>

<!--
    <div id="logo_header">
        <div class="container">
            <div class="row"> 
                <div class="2u">
                    <a routerLink=""><img src="assets/images/logo_header.png" style="width: 66px;"></a>
                </div>
                <div class="8u">
                    <div class="text-center">
                        <h4 style="margin: 10px;">SINDICATO DE TRABAJADORES Y EMPLEADOS DE LA UNIVERSIDAD JUÁREZ DEL ESTADO DE DURANGO</h4>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
    <div id="header">
        <div class="container"></div>
    </div>


    <section id="menu">
        <div class="container">
            <nav id="nav">
                <ul>
                    <li *ngFor="let m of menu; let i = index">
                        
                        <a [routerLink]="[m.menu_routerLink]" style="color: white;"><i 
                            [ngClass]="displayActiveness(i)"></i> {{ m.menu_descrip }}</a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
-->

<!--     fa fa-fw fa-home -->

<!-- [ngClass]="{
    'fas fa-home':m.menu_descrip === 'INICIO',
    'text-secondary':m.menu_descrip === 'NOTICIAS',
    'text-danger':m.menu_descrip === 'AUDIOTECA',
    'fa fa-id-card':m.menu_descrip === 'SERVICIOS'
  }" -->

<!--   [ngClass]="{
    'fa fa-home':m.menu_descrip ==='INICIO',
    'fa fa-id-card':m.menu_descrip ==='NOTICIAS'
    
  }" -->