
<div id="main" class="row" style="text-align: center;">
    <div class="container">
        <div class="section-title text-center">
            <h2>{{publicaciones.pub_titulo}}</h2>
        </div>
        <section>
            <div class="fotorama"></div>
                <div [innerHTML]="publicaciones.pub_texto" style="text-align: justify;"></div>
        </section>

    </div>
</div>
<div id="main" class="row" style="text-align: center;">
    <div class="container">
        <button type="button" class="btn btn-secondary btn-lg" [routerLink]="['']">Regresar</button>
    </div>
</div>
<app-footer></app-footer>
<app-copyright></app-copyright>
<!--
    <div id="main" class="row" style="text-align: center;">
    <div class="3u">&nbsp;</div>
        <div class="6u">
            <section>
                <h2>{{publicaciones.pub_titulo}}</h2>
                <div class="fotorama"></div>
                <div [innerHTML]="publicaciones.pub_texto" style="text-align: justify;"></div>
            </section>

        </div>
    
    <div class="3u">&nbsp;</div>
</div>
-->


