<br>
<div id="main" class="row" style="text-align: center;">
    <div class="container">
        <mat-advanced-audio-player [playlist]="msaapPlaylist" [displayTitle]="msaapDisplayTitle" [autoPlay]="false" 
                    muted="muted" [displayPlaylist]="msaapDisplayPlayList" [pageSizeOptions]="msaapPageSizeOptions" 
                        [expanded]="true" [displayVolumeControls]="true">
        </mat-advanced-audio-player>
    </div>
</div>
<br><br>
<div id="main" class="row" style="text-align: center;">
    <div class="container">
        <button type="button" class="btn btn-secondary btn-lg" [routerLink]="['']">Regresar</button>
    </div>
</div>

<app-footer></app-footer>
<app-copyright></app-copyright>
