<app-header></app-header>


<div id="main" class="row" style="text-align: center;">
    <div class="container">
        <mat-advanced-audio-player [playlist]="msaapPlaylist" [displayTitle]="msaapDisplayTitle" [autoPlay]="false" 
                    muted="muted" [displayPlaylist]="msaapDisplayPlayList" [pageSizeOptions]="msaapPageSizeOptions" 
                        [expanded]="true" [displayVolumeControls]="true">
        </mat-advanced-audio-player>
    </div>
</div>
<app-footer></app-footer>
<app-copyright></app-copyright>
