
<div class="col-center"><h4><b>Lista de Asistencia de Trabajadores Eventuales</b></h4></div>

<div class="col-center2">
    <div>
        <input id="dia" type="radio" [value]="1" name="lista" ([ngModel])="fec.valor">
        <label for="dia">Lista de asistencia por dia</label>
     </div>
  
     <div>
        <input id="mes" type="radio" [value]="2" name="lista" ([ngModel])="fec.valor">
        <label for="mes">Lista de asistencia por mes</label>
     </div>
     <div>
      <input id="mes" type="radio" [value]="3" name="lista" ([ngModel])="fec.valor">
      <label for="mes">Lista de asistencia por dia y por trabajador</label>
   </div>
   <div>
      <input id="mes" type="radio" [value]="4" name="lista" ([ngModel])="fec.valor">
      <label for="mes">Lista de asistencia por mes y por trabajador</label>
   </div>
</div>

<div class="col-center4">

   <div *ngIf="fec.valor==1">
      <input id="d" type="date" name="fec" class="form-control" [(ngModel)]="fec.fecha1">
   </div>
   <div *ngIf="fec.valor==2" [hidden]="fec.valor!=2">
      <input id="m1" type="date" name="fec1" class="form-control" [(ngModel)]="fec.fecha1">
      <input id="m2" type="date" name="fec2" class="form-control" [(ngModel)]="fec.fecha2">
   </div> 
   <div *ngIf="fec.valor==3" >
      <input id="m1" type="date" name="fec1" class="form-control" [(ngModel)]="fec.fecha1">
      <select  [(ngModel)]="fec.trabajador" name="trabaja" class="form-control" >
         <option *ngFor="let a of usuarios" value={{a.matricula}}>
             {{a.nombre_completo}}
         </option>
     </select>
   </div>
   <div *ngIf="fec.valor==4" >
      <input id="m1" type="date" name="fec1" class="form-control" [(ngModel)]="fec.fecha1">
      <input id="m2" type="date" name="fec2" class="form-control" [(ngModel)]="fec.fecha2">
      <select  [(ngModel)]="fec.trabajador" name="trabaja" class="form-control" >
         <option *ngFor="let a of usuarios" value={{a.matricula}}>
             {{a.nombre_completo}}
         </option>
     </select>
   </div>

<!-- 
<input name="type" [(ngModel)]="type" type="radio" [value]="1" /> Admin
<input name="type" [(ngModel)]="type" type="radio" [value]="0" /> User
  
<h2 *ngIf="type == 1">Admin</h2>
<h2 *ngIf="type == 0">User</h2>
      -->
</div>
<br><br>
<div class="col-center3">
    <button class="btn btn-success" (click)='reporte(fec);'>Generar Reporte</button>
 </div>