.col-center{
    float: none;
    margin-left: 30%;
    margin-right: 30%;
  }

.col-center2{
    float: none;
    margin-left: 37%;
    margin-right: 30%;
  }

.col-center3{
    float: none;
    margin-left: 40%;
    margin-right: 30%;
  }
.col-center4{
    float: none;
    margin-left: 37%;
    margin-right: 44%;
  }